.parent{
    height: 400px;
    width: 400px;
    position: relative;
    animation-duration: 3s;
    animation-name: demo;
    animation-iteration-count: 2;
}
@keyframes demo {
    to{
        top:0;
        left: 100%;
        rotate: 20deg;
        scale: 2;
    }
    from{
        top:0;
        left:0px;
    }
}